cmake-build-*/
build/
.idea/
.vscode/
.DS_Store
CMakeUserPresets.json
pyvenv.cfg
.clangd/
/.cache/

# Conan and conan-cmake create some files in-tree by design
conan.lock
conanbuildinfo.*
conaninfo.txt
graph_info.json
conan/
cmake/conan_provider.cmake

# Build artifacts
TrustTunnel-Portable/
*.zip
webview_data/
geodata/
routing_rules.json
TrustTunnel-v1.2.0-portable-win64/exclusions.json
TrustTunnel-v1.2.0-portable-win64/trusttunnel_client.exe
TrustTunnel-v1.2.0-portable-win64/wintun.dll
TrustTunnel-v1.2.0-portable-win64/vcruntime140.dll
TrustTunnel-v1.2.0-portable-win64/vcruntime140_1.dll
TrustTunnel-v1.2.0-portable-win64/trusttunnel.exe
TrustTunnel-v1.2.0-portable-win64/trusttunnel_client.toml
TrustTunnel-v1.2.0-portable-win64/trusttunnel_client.exe
